@model IEnumerable<CS481_Hub.Models.Available_API>

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 id="title">Delete</h2>
<hr />
<div class="jumbotronAdminDelete">
    <div class="jumbotron">
<table class="table deleteTable" style="font-size: 20px;">
    <tr>
        <th>
            @Html.DisplayName("API Name")
        </th>

        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.API_Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteAsync", new { id=item.API_ID }, new { @style = "text-decoration: none;" })
        </td>
    </tr>
}
</table>
        </div>
    </div>


<style>

    .jumbotronAdminDelete {
        margin-top: 20px;
    }

    #title {
        margin-top: 40px;
    }

    .deleteTable{
        margin-top: 0px;
    }

</style>
