@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Hub</h1>
</div>

@if (Request.IsAuthenticated)
{
 <div class="container">
     <div class="row">
         <div class="col-xs-6">
             <button class="btn btn-default btn-lg btn-block"><br>API<br>Selection<br><br></button>
         </div>
         <div class="col-xs-6">
             <button class="btn btn-default btn-lg btn-block"><br>Edit<br>Profile<br><br></button>
         </div>
     </div>
 </div>
}

else{ 
 <div>
     <h3>Please log in or register an account.</h3>
 </div>
    
}