
@{
    ViewBag.Title = "RandomFact";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<h2>Random Math Fact</h2>
<p id="number"></p>
<button>Wow! Give an another!</button>



@* All Ajax public callback 
    Can make cleaner by making object in helper section.*@
<script>
    $(document).ready(function () {
        
        $.get('http://numbersapi.com/random/math', function (data) {
            //console.log(data);
            $('#number').text(data);
        });
    });
</script>

<script>
    $("button").click(function () {
        location.reload();
    });
</script>


