
@{
    ViewBag.Title = "Translation";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

<h3> Enter Something you would like to translate</h3>
<input id="value" />
<button>Click</button>
<p id="translate"></p>


@* All Ajax public callback
    Can make cleaner by making object in helper section.*@
<script>
    $(document).ready(function () {
        $("button").click(function () {
            var HTML = $("#value").val();
            $.get('http://api.funtranslations.com/translate/yoda?text=' + HTML, function (data) {
                //console.log(data);
                $('#translate').text(data.contents.translated);
            });
        });
    });
</script>