@model CS481_Hub.Models.USER_EXT
@{
    ViewBag.Title = "Weather";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}


<h2>Weather</h2>
<h4>Location: </h4><p id="Name"></p>
<h4>Temprature: </h4><p id="Temp"></p>
<h4>Humidity: </h4><p id="Humidity"></p>





                       @* Ajax script on weather page that goes through the controller *@
<script>
    $(document).ready(function () {
        //razer syntax for home controller
        $.get("@Url.Action("GetWeather", "Home")", function (response) {
            //response
            console.log(response);
            $("#Name").text(response.name);
            $("#Temp").text(response.main.temp);
            $("#Humidity").text(response.main.humidity);
            
        });
    });
</script>




