@using Microsoft.AspNet.Identity;
@model CS481_Hub.Models.BLOGS

@{
    ViewBag.Title = "ShowBlog";
}
@{
    var userId = User.Identity.GetUserId();
}

<h2>ShowBlog</h2>
<div class="jumbotronBlog">
    <div class="jumbotron">
        <div>
            <h4>@Html.DisplayFor(model => model.TITLE)</h4>
            <hr />
            <div class="jumbotronInside">
                @Html.DisplayFor(model => model.BLOG_TEXT)

            </div>
            
        </div>



    </div>
</div>



<p>
    @Html.ActionLink("Back to List", "ListView", null, new { @class = "btn btn-default" })
</p>
<style>

    .translationField {
        text-align: center;
    }

    .jumbotronBlog {
        margin-top: 20px;
    }
    .jumbotronInside {
        margin-top: 20px;
        background-color: #808080;
        border-radius: 5px;
        height: 250px;
    }

    #title {
        text-align: center;
        margin-bottom: 30px;
    }
</style>